/* add your CSS here */

.interesting-fact {
  	font-style: italic;
}

.label {
	font-weight: bold;
}

ul.facts-list {
  	list-style-type: none;
}

.animal-card {
	border: 1px solid #b2c1cd;
	max-width: 310px;
    padding: 5px;
    box-shadow: 9px 10px 5px 0px #b2c1cd; 
}

.animal-info {
	border: 1px solid #b2c1cd;
	max-width: 310px;
    padding: 5px;
}

.imagepadding {
	padding-bottom: 10px;
	width: 310px;
}